{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light" style="background-image: linear-gradient(to bottom right, #b075ebd6, #55a8cbf3);">
    <div class="container">
      <h1 class="display-3">Bienvenidos al sitio web de la Librería</h1>
      <p class="lead">Comenzar a ingresar libros</p>
      <hr class="my-2">

      <p class="lead">
        <a class="btn btn-info btn-lg" href="jumbo action link" role="button">Empezar</a>
      </p>
    </div>
  </div>


{% endblock %}